---
layout: default
---

{% include navigation.html %}

<div class="profile">
  <img class="profile-image" src="https://www.gravatar.com/avatar/fa87f62f924d7b16b9ca4ba96c6ba83c?s=128">
  <h1 class="profile-title">{{ site.title }}</h1>
  <h2 class="profile-text">{{ site.description }}</h2>
</div>

{% for project in site.data.projects limit: 3 %}
<div class="project">
  <a class="project-image" href="{{ project.url }}">
    <img src="https://via.placeholder.com/768x500">
  </a>
  <div class="project-info">
    <h3 class="project-title">{{ project.title }}</h3>
    {% for tag in project.tags %}
    <a class="tag"
       href="tags/{{ tag | split: " " | join: '-' | downcase }}">
      {{- tag -}}
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}
