---
layout: default
title: Projects
---

{% include navigation.html %}

{% assign tag_list = site.data.projects | map: 'tags' | uniq | sort %}

<aside class="tag-list">
  <h4 class="tag-list-title">Tags</h4>
  <a class="tag" href="/projects">All</a>
  {% for tag in tag_list %}
  {% assign tag_url = tag | split: " " | join: '-' | downcase %}
  <div class="js-tag-list">
    <a class="tag" href="?{{ tag_url }}">
      {{- tag -}}
    </a>
  </div>
  {% endfor %}
</aside>

<div class="grid">
  {% for project in site.data.projects %}
  {% assign project_url = project.title | split: " " | join: '-' | downcase %}
  <div class="js-project grid-column">
    <div class="project">
      <a class="project-image"
         href="{{ project_url }}">
        <img src="https://via.placeholder.com/768x500">
      </a>
      <div class="project-info">
        <h3 class="project-title project-title-small">{{ project.title }}</h3>
        {% for tag in project.tags %}
        {% assign tag_url = tag | split: " " | join: '-' | downcase %}
        <a class="tag" href="?{{ tag_url }}">
          {{- tag -}}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
