* {
  box-sizing: border-box;
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height-heading;
}

a {
  color: $color-link;
}
