* {
  box-sizing: border-box;
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-base;
}

a {
  color: $color-link;
}
