.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

.message {
  border-top: 1px solid $grey-light;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  text-align: center;
}

.message-link {
  color: $grey;
  font-size: $font-size-2;
  text-decoration: none;
}

.message-link:hover {
  color: $blue;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin-bottom: 2rem;
}

.project-info {
  margin-left: 1rem;
}

.project-image:hover {
  opacity: 0.5;
}

.project-title {
  font-size: $font-size-2;
  font-weight: normal;
}

.project-title-small {
  font-size: $font-size-4;
}

.tag {
  color: $grey;
  font-family: $font-family-monospace;
  font-size: $font-size-6;
  margin-right: 0.5rem;
}

.tag:hover {
  color: $blue;
}

@media (min-width: $breakpoint-lg) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column-half {
    width: 50%;
  }

  .column-half:nth-of-type(odd) {
    padding-right: 0.5rem;
  }

  .column-half:nth-of-type(even) {
    padding-left: 0.5rem;
  }
}
