// Container

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

@mixin container-lg {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Message

.message {
  border-top: 1px solid $grey-light;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  text-align: center;
}

.message-link {
  color: $grey;
  font-size: $font-size-2;
  text-decoration: none;
}

.message-link:hover {
  color: $blue;
}

// Grid

.grid {
  display: flex;
  flex-wrap: wrap;
}

@mixin grid-lg {
  .grid-column {
    width: 50%;
  }

  .grid-column:nth-of-type(odd) {
    padding-right: 0.5rem;
  }

  .grid-column:nth-of-type(even) {
    padding-left: 0.5rem;
  }
}

// Project

.project {
  margin-bottom: 2rem;
}

.project-info {
  margin-left: 1rem;
}

.project-image:hover {
  opacity: 0.5;
}

.project-title {
  font-size: $font-size-2;
  font-weight: normal;
}

.project-title-small {
  font-size: $font-size-5;
  font-weight: bold;
}

// Tag

.tag {
  color: $grey;
  font-family: $font-family-monospace;
  font-size: $font-size-6;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.tag:hover {
  color: $blue;
}

// Tag list

.tag-list {
  margin-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.tag-list-title {
  font-size: $font-size-5;
  margin-bottom: 0.5rem;
}

@mixin tag-list-lg {
  .tag-list {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 2rem;
  }

  .tag-list .tag {
    display: block;
  }
}
