.navigation {
  border-bottom: 1px solid $grey-light;
  font-family: $font-family-monospace;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.navigation-link {
  color: $grey;
  font-size: $font-size-6;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

.navigation-link.is-active {
  color: $blue;
}

.navigation-link:hover {
  color: $grey-light;
}

@media (min-width: $breakpoint-sm) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation-link {
    margin-left: 1rem;
    margin-right: 0;
  }

  .navigation-link:first-of-type {
    margin-left: 0;
  }
}

@media (min-width: $breakpoint-lg) {
  .navigation {
    padding-left: 0;
    padding-right: 0;
  }
}
