// Navigation

.navigation {
  border-bottom: 1px solid $grey-light;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.navigation-link {
  color: $grey;
  font-size: $font-size-5;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

.navigation-link.is-active,
.navigation-link:hover {
  color: $blue;
}

// Breakpoint small

@mixin navigation-sm {
  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation-link {
    margin-left: 1rem;
    margin-right: 0;
  }

  .navigation-link:first-of-type {
    margin-left: 0;
  }
}

// Breakpoint large

@mixin navigation-lg {
  .navigation {
    padding-left: 0;
    padding-right: 0;
  }
}
