.repo-list
  margin-bottom: 2rem

.repo-list-title
  font-size: $text-h4

.repo-list-project
  margin-top: 1rem

.repo-list-name
  font-size: $text-h4
  margin-bottom: 0.5rem

=repo-list-md
  .repo-list-name
    font-size: $text-h4

  .repo-list-title
    font-size: $text-h3
